.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.prev {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(14, 14, 14, 0.2);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 2rem;
}

.next {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 108, 255, 1);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 2rem;
}

.pageLink {
  padding: 0.5rem;
  color: white;
}

.leftClick {
  cursor: pointer;
}
