@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heading-1: 40px;
  --heading-2: 32px;
  --heading-3: 24px;
  --sub-heading-1: 18px;
  --sub-heading-2: 16px;
  --sub-heading-3: 14px;
  --button: 24px;
  --body-text-1: 16px;
  --body-text-2: 14px;
  --body-text-3: 12px;
  --body-text-4: 10px;
}

body {
  font-family: "Cardo", serif;
  line-height: 24px;
  font-size: var(--body-text-1);
}

.container {
  display: flex;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
